services:
  web:
    image: ghcr.io/matteobikk90/full-stack-portfolio-client:${GITHUB_SHA}
    container_name: web
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./certbot:/var/www/certbot
    depends_on:
      - server
      - certbot
    restart: always

  server:
    container_name: server
    image: ghcr.io/matteobikk90/full-stack-portfolio-server-${IMAGE_ENV}:${GITHUB_SHA}
    expose:
      - "${SERVER_PORT}"
    env_file:
      - ./apps/server/.env.${ENV}
    restart: always

  certbot:
    container_name: certbot
    image: certbot/certbot
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - ./certbot:/var/www/certbot
    entrypoint: >
      /bin/sh -c "trap exit TERM; 
      while :; do 
        certbot renew --webroot -w /var/www/certbot --quiet; 
        sleep 12h; 
      done"
    restart: always
